<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Charts - Others</h2>
            <p class="sub-title">One stop solution for perfect admin dashboard!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a class="btn bg-black toggle-code-handle" role="button">Toggle Code!</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Charts - Others</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <strong>amCharts!</strong> Programming libraries and tools for all your data visualization needs. For official documentation, <a href="https://www.amcharts.com/" target="_blank" class=" ml-5"><i class="fa fa-hand-o-right"></i> click here <i class="fa fa-hand-o-left"></i></a>.
                </div>
                <!-- /.alert alert-info -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Animated Gauge</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <div id="chart1" class="op-chart"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Angular Gauge</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <div id="chart2" class="op-chart"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Clock</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <div id="chart3" class="op-chart"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Solid Gauge</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <div id="chart4" class="op-chart"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.section -->
