<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Labels & Badges</h2>
            <p class="sub-title">One of the most complete bootstrap admin templates!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a class="btn bg-black toggle-code-handle" role="button">Toggle Code!</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#">UI</a></li>
				<li class="active">Labels & Badges</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Basic Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="label label-default">Default</span>
                        <span class="label label-primary">Primary</span>
                        <span class="label label-danger">Danger</span>
                        <span class="label label-success">Success</span>
                        <span class="label label-warning">Warning</span>
                        <span class="label label-info">Info</span>
                        <span class="label label-gray">Gray</span>
                        <span class="label label-black">Black</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Rounded Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="label label-default label-rounded">Default</span>
                        <span class="label label-primary label-rounded">Primary</span>
                        <span class="label label-danger label-rounded">Danger</span>
                        <span class="label label-success label-rounded">Success</span>
                        <span class="label label-warning label-rounded">Warning</span>
                        <span class="label label-info label-rounded">Info</span>
                        <span class="label label-gray label-rounded">Gray</span>
                        <span class="label label-black label-rounded">Black</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Flat Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="label label-default label-flat">Default</span>
                        <span class="label label-primary label-flat">Primary</span>
                        <span class="label label-danger label-flat">Danger</span>
                        <span class="label label-success label-flat">Success</span>
                        <span class="label label-warning label-flat">Warning</span>
                        <span class="label label-info label-flat">Info</span>
                        <span class="label label-gray label-flat">Gray</span>
                        <span class="label label-black label-flat">Black</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Wider Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="label label-default label-wide">Default</span>
                        <span class="label label-primary label-wide">Primary</span>
                        <span class="label label-danger label-wide">Danger</span>
                        <span class="label label-success label-wide">Success</span>
                        <span class="label label-warning label-wide">Warning</span>
                        <span class="label label-info label-wide">Info</span>
                        <span class="label label-gray label-wide">Gray</span>
                        <span class="label label-black label-wide">Black</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Linked Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="label label-default">Default</a>
                        <a href="#" class="label label-primary">Primary</a>
                        <a href="#" class="label label-danger">Danger</a>
                        <a href="#" class="label label-success">Success</a>
                        <a href="#" class="label label-warning">Warning</a>
                        <a href="#" class="label label-info">Info</a>
                        <a href="#" class="label label-gray">Gray</a>
                        <a href="#" class="label label-black">Black</a>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Rounded Linked Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="label label-default label-rounded">Default</a>
                        <a href="#" class="label label-primary label-rounded">Primary</a>
                        <a href="#" class="label label-danger label-rounded">Danger</a>
                        <a href="#" class="label label-success label-rounded">Success</a>
                        <a href="#" class="label label-warning label-rounded">Warning</a>
                        <a href="#" class="label label-info label-rounded">Info</a>
                        <a href="#" class="label label-gray label-rounded">Gray</a>
                        <a href="#" class="label label-black label-rounded">Black</a>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Bordered Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="label label-default label-bordered">Default</span>
                        <span class="label label-primary label-bordered">Primary</span>
                        <span class="label label-danger label-bordered">Danger</span>
                        <span class="label label-success label-bordered">Success</span>
                        <span class="label label-warning label-bordered">Warning</span>
                        <span class="label label-info label-bordered">Info</span>
                        <span class="label label-black label-bordered">Black</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Rounded + Bordered Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="label label-default label-rounded label-bordered">Default</span>
                        <span class="label label-primary label-rounded label-bordered">Primary</span>
                        <span class="label label-danger label-rounded label-bordered">Danger</span>
                        <span class="label label-success label-rounded label-bordered">Success</span>
                        <span class="label label-warning label-rounded label-bordered">Warning</span>
                        <span class="label label-info label-rounded label-bordered">Info</span>
                        <span class="label label-black label-rounded label-bordered">Black</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.section -->

<section class="section">
    <div class="container-fluid">

        <div class="section-title text-center">
            <h4 class="title underline">Badges</h4>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Basic Badges</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="badge badge-default">10</span>
                        <span class="badge badge-primary">15</span>
                        <span class="badge badge-danger">12</span>
                        <span class="badge badge-success">14</span>
                        <span class="badge badge-warning">10</span>
                        <span class="badge badge-info">11</span>
                        <span class="badge badge-gray">14</span>
                        <span class="badge badge-black">13</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Rounded Labels</h5>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <span class="badge badge-default badge-bordered">10</span>
                        <span class="badge badge-primary badge-bordered">14</span>
                        <span class="badge badge-danger badge-bordered">13</span>
                        <span class="badge badge-success badge-bordered">16</span>
                        <span class="badge badge-warning badge-bordered">12</span>
                        <span class="badge badge-info badge-bordered">14</span>
                        <span class="badge badge-black badge-bordered">12</span>

                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.section -->
