<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Bootstrap - Helper Classes</h2>
            <p class="sub-title">We have styled all Bootstrap elements just as you want!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a href="#" class="btn bg-black open-right-sidebar">Click me!</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#">Bootstrap</a></li>
				<li class="active">Helper Classes</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container">

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Contextual Colors</h4>
                    <p class="sub-title">Convey meaning through color with a handful of emphasis utility classes. These may also be applied to links and will darken on hover just like our default link styles.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
            	<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
            	<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            	<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            	<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            	<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
            	<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Contextual Backgrounds</h4>
                    <p class="sub-title">Similar to the contextual text color classes, easily set the background of an element to any contextual class. Anchor components will darken on hover, just like the text classes.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
            	<p class="bg-primary p-10">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            	<p class="bg-success p-10">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            	<p class="bg-info p-10">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            	<p class="bg-warning p-10">Etiam porta sem malesuada magna mollis euismod.</p>
            	<p class="bg-danger p-10">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-6">
                <div class="section-title">
                    <h4 class="title underline">Close Icon</h4>
                    <p class="sub-title">Use the generic close icon for dismissing content like modals and alerts.</p>
                </div>
                <!-- /.section-title -->

            	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>

            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="section-title">
                    <h4 class="title underline">Carets</h4>
                    <p class="sub-title">Use carets to indicate dropdown functionality and direction.</p>
                </div>
                <!-- /.section-title -->

            	<span class="caret"></span> <br>
        
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Quick Floats</h4>
                    <p class="sub-title">Float an element to the left or right with a class. <code class="language-html">!important</code> is included to avoid specificity issues. Classes can also be used as mixins.</p>
                </div>
                <!-- /.section-title -->

                <pre class="language-html"><code class="language-html">
&lt;div class="pull-left"&gt;...&lt;/div&gt; &lt;!-- Float div to left --&gt;
&lt;div class="pull-right"&gt;...&lt;/div&gt; &lt;!-- Float div to right --&gt;
                </code></pre>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Center Content Blocks</h4>
                    <p class="sub-title">Set an element to <code class="language-html">display: block</code> and center via <code class="language-html">margin</code>. Available as a mixin and class.</p>
                </div>
                <!-- /.section-title -->

                <pre class="language-html"><code class="language-html">
&lt;div class="center-block"&gt;...&lt;/div&gt;
                </code></pre>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Clearfix</h4>
                    <p class="sub-title">Easily clear floats by adding <code class="language-html">.clearfix</code> to the parent element. Utilizes the micro clearfix as popularized by Nicolas Gallagher. Can also be used as a mixin.</p>
                </div>
                <!-- /.section-title -->

                <pre class="language-html"><code class="language-html">
&lt;!-- Usage as a class --&gt;
&lt;div class="clearfix"&gt;...&lt;/div&gt;
                </code></pre>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Showing & Hiding Content</h4>
                    <p class="sub-title">Force an element to be shown or hidden (including for screen readers) with the use of <code class="language-html">.show</code> and <code class="language-html">.hidden</code> classes. These classes use <code class="language-html">!important</code> to avoid specificity conflicts, just like the quick floats. They are only available for block level toggling. They can also be used as mixins.</p>
                    <p>Furthermore, <code class="language-html">.invisible</code> can be used to toggle only the visibility of an element, meaning its display is not modified and the element can still affect the flow of the document.</p>
                </div>
                <!-- /.section-title -->

                <pre class="language-html"><code class="language-html">
&lt;div class="show"&gt;...&lt;/div&gt;
&lt;div class="hidden"&gt;...&lt;/div&gt;
                </code></pre>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Responsive Images</h4>
                    <p class="sub-title">Images in Bootstrap 3 can be made responsive-friendly via the addition of the <code class="language-html">.img-responsive</code> class. This applies <code class="language-html">max-width: 100%;</code>, <code class="language-html">height: auto;</code> and <code class="language-html">display: block;</code> to the image so that it scales nicely to the parent element.</p>
                    <p>To center images which use the <code class="language-html">.img-responsive</code> class, use <code class="language-html">.center-block</code> instead of <code class="language-html">.text-center</code>.</p>
                </div>
                <!-- /.section-title -->

                <pre class="language-html"><code class="language-html">
&lt;img src="..." class="img-responsive" alt="Responsive image"&gt;
                </code></pre>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Image Shapes</h4>
                    <p class="sub-title">Add classes to an <code class="language-html">&lt;img&gt;</code> element to easily style images in any project.</p>
                </div>
                <!-- /.section-title -->

                <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTVlOWEyYjUxMiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NWU5YTJiNTEyIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
				data-holder-rendered="true" style="width: 140px; height: 140px;">
                <img data-src="holder.js/140x140" class="img-circle" alt="140x140" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTVlOWEyY2I4OSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NWU5YTJjYjg5Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
				data-holder-rendered="true" style="width: 140px; height: 140px;">
                <img data-src="holder.js/140x140" class="img-thumbnail" alt="140x140" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTVlOWEyY2MzNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NWU5YTJjYzM3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
				data-holder-rendered="true" style="width: 140px; height: 140px;">

                <pre class="language-html"><code class="language-html">
&lt;img src="..." alt="..." class="img-rounded"&gt;
&lt;img src="..." alt="..." class="img-circle"&gt;
&lt;img src="..." alt="..." class="img-thumbnail"&gt;
                </code></pre>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Responsive Utilities</h4>
                    <p class="sub-title">For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query. Also included are utility classes for toggling content when printed.</p>
                </div>
                <!-- /.section-title -->

                <table class="table table-bordered responsive-utilities">
                	<thead>
                		<tr>
                			<th></th>
                			<th> Extra small devices <small>Phones (&lt;768px)</small> </th>
                			<th> Small devices <small>Tablets (≥768px)</small> </th>
                			<th> Medium devices <small>Desktops (≥992px)</small> </th>
                			<th> Large devices <small>Desktops (≥1200px)</small> </th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr>
                			<th scope="row"><code>.visible-xs-*</code></th>
                			<td class="bg-success-600">Visible</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-hidden">Hidden</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.visible-sm-*</code></th>
                			<td class="is-hidden">Hidden</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-hidden">Hidden</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.visible-md-*</code></th>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="is-hidden">Hidden</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.visible-lg-*</code></th>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="bg-success-600">Visible</td>
                		</tr>
                	</tbody>
                	<tbody>
                		<tr>
                			<th scope="row"><code>.hidden-xs</code></th>
                			<td class="is-hidden">Hidden</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="bg-success-600">Visible</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.hidden-sm</code></th>
                			<td class="bg-success-600">Visible</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="bg-success-600">Visible</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.hidden-md</code></th>
                			<td class="bg-success-600">Visible</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="is-hidden">Hidden</td>
                			<td class="bg-success-600">Visible</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.hidden-lg</code></th>
                			<td class="bg-success-600">Visible</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="bg-success-600">Visible</td>
                			<td class="is-hidden">Hidden</td>
                		</tr>
                	</tbody>
                </table>

            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Print Classes</h4>
                    <p class="sub-title">For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query. Also included are utility classes for toggling content when printed.</p>
                </div>
                <!-- /.section-title -->

                <table class="table table-bordered table-striped responsive-utilities">
                	<thead>
                		<tr>
                			<th>Classes</th>
                			<th>Browser</th>
                			<th>Print</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr>
                			<th scope="row"> <code>.visible-print-block</code>
                				<br> <code>.visible-print-inline</code>
                				<br> <code>.visible-print-inline-block</code> </th>
                			<td class="is-hidden">Hidden</td>
                			<td class="is-visible">Visible</td>
                		</tr>
                		<tr>
                			<th scope="row"><code>.hidden-print</code></th>
                			<td class="is-visible">Visible</td>
                			<td class="is-hidden">Hidden</td>
                		</tr>
                	</tbody>
                </table>

            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
