<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Bootstrap - Buttons</h2>
            <p class="sub-title">We have styled all Bootstrap elements just as you want!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a class="btn bg-black toggle-code-handle" role="button">Toggle Code!</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#">Bootstrap</a></li>
				<li class="active">Buttons</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container">

        <div class="alert alert-info" role="alert">
            <strong>Advanced Buttons!</strong> This page displays basic Bootstrap styled buttons. To see more options of buttons, <a [routerLink]="'/ui-buttons'" class=" ml-5"><i class="fa fa-hand-o-right"></i> click here <i class="fa fa-hand-o-left"></i></a>.
        </div>
        <!-- /.alert alert-info -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Button Tags</h4>
                    <p class="sub-title">Use the button classes on an <code class="language-html">&lt;a&gt;</code>, <code class="language-html">&lt;button&gt;</code>, or <code class="language-html">&lt;input&gt;</code> element.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
                <a class="btn btn-default" href="#" role="button">Link</a>
                <button class="btn btn-default" type="submit">Button</button>
                <input class="btn btn-default" type="button" value="Input">
                <input class="btn btn-default" type="submit" value="Submit">
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Button Options</h4>
                    <p class="sub-title">Use any of the available button classes to quickly create a styled button.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
                <!-- Standard button -->
                <button type="button" class="btn btn-default">Default</button>

                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary">Primary</button>

                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success">Success</button>

                <!-- Contextual button for informational alert messages -->
                <button type="button" class="btn btn-info">Info</button>

                <!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning">Warning</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger">Danger</button>

                <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                <button type="button" class="btn btn-link">Link</button>
            </div>
            <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Button Sizes</h4>
                    <p class="sub-title">Fancy larger or smaller buttons? Add <code class="language-html">.btn-lg</code>, <code class="language-html">.btn-sm</code>, or <code class="language-html">.btn-xs</code> for additional sizes.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
                <p>
                	<button type="button" class="btn btn-primary btn-lg">Large button</button>
                	<button type="button" class="btn btn-default btn-lg">Large button</button>
                </p>
                <p>
                	<button type="button" class="btn btn-primary">Default button</button>
                	<button type="button" class="btn btn-default">Default button</button>
                </p>
                <p>
                	<button type="button" class="btn btn-primary btn-sm">Small button</button>
                	<button type="button" class="btn btn-default btn-sm">Small button</button>
                </p>
                <p>
                	<button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                	<button type="button" class="btn btn-default btn-xs">Extra small button</button>
                </p>
            </div>
            <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Block Level Buttons</h4>
                    <p class="sub-title">Create block level buttons—those that span the full width of a parent— by adding <code class="language-html">.btn-block</code>.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
            </div>
            <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Active State of Buttons</h4>
                    <p class="sub-title">Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. For <code class="language-html">&lt;button&gt;</code> elements, this is done via :active. For <code class="language-html">&lt;a&gt;</code> elements, it's done with <code class="language-html">.active</code>. However, you may use <code class="language-html">.active</code> on <code class="language-html">&lt;button&gt;</code>s (and include the aria-pressed="true" attribute) should you need to replicate the active state programmatically.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
                <button type="button" class="btn btn-primary active">Primary button</button>
                <button type="button" class="btn btn-default active">Button</button>
            </div>
            <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Disabled State of Buttons</h4>
                    <p class="sub-title">Make buttons look un-clickable by fading them back with opacity. Add the disabled attribute to <code class="language-html">&lt;button&gt;</code> buttons.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 mb-15">
                <button type="button" class="btn btn-primary" disabled="disabled">Primary button</button>
                <button type="button" class="btn btn-default" disabled="disabled">Button</button>
            </div>
            <!-- /.col-md-12 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
