<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h4 class="title">Color System <small class="ml-10">Danger Color</small></h4>
            <p class="sub-title">One stop solution for perfect admin dashboard!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a class="btn bg-black " role="button">Button</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Color System - Danger</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container">
        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Danger Palette</h4>
                    <p class="sub-title">We have created color palettes so that it will be easy for you to use this admin template. You can change these values easily with provided sass file. You can also directly use these classes.</p>
                </div>
            </div>
            <!-- /.col-md-12 -->

            <div class="col-md-2">
                <a class="dashboard-stat-2 bg-danger-100" href="#">
                    <div class="stat-content">
                        <span class="name">Danger 100</span>
                    </div>
                    <span class="stat-footer"><code>.bg-danger-100</code></span>
                </a>
            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <a class="dashboard-stat-2 bg-danger-300" href="#">
                    <div class="stat-content">
                        <span class="name">Danger 300</span>
                    </div>
                    <span class="stat-footer"><code>.bg-danger-300</code></span>
                </a>
            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <a class="dashboard-stat-2 bg-danger" href="#">
                    <div class="stat-content">
                        <span class="name">Danger</span>
                    </div>
                    <span class="stat-footer"><code>.bg-danger</code></span>
                </a>
            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <a class="dashboard-stat-2 bg-danger-500" href="#">
                    <div class="stat-content">
                        <span class="name">Danger 500</span>
                    </div>
                    <span class="stat-footer"><code>.bg-danger-500</code></span>
                </a>
            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <a class="dashboard-stat-2 bg-danger-600" href="#">
                    <div class="stat-content">
                        <span class="name">Danger 600</span>
                    </div>
                    <span class="stat-footer"><code>.bg-danger-600</code></span>
                </a>
            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <a class="dashboard-stat-2 bg-danger-700" href="#">
                    <div class="stat-content">
                        <span class="name">Danger 700</span>
                    </div>
                    <span class="stat-footer"><code>.bg-danger-700</code></span>
                </a>
            </div>
            <!-- /.col-md-2 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="section">
    <div class="container">
        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Buttons</h4>
                    <p class="sub-title">You can use above color palette to style your buttons. Just use classes as mentioned above and change button colors. Click 'Toggle Code' button at top right corner of this page to see code for below buttons.</p>
                </div>
            </div>
            <!-- /.col-md-12 -->

            <div class="col-md-2">
                <button type="button" class="btn btn-danger bg-danger-100 btn-labeled">Send Email<span class="btn-label btn-label-right"><i class="fa fa-send-o"></i></span></button>

            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <button type="button" class="btn btn-danger bg-danger-300 btn-labeled">Send Email<span class="btn-label btn-label-right"><i class="fa fa-send-o"></i></span></button>

            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <button type="button" class="btn btn-danger bg-danger btn-labeled">Send Email<span class="btn-label btn-label-right"><i class="fa fa-send-o"></i></span></button>

            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <button type="button" class="btn btn-danger bg-danger-500 btn-labeled">Send Email<span class="btn-label btn-label-right"><i class="fa fa-send-o"></i></span></button>

            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <button type="button" class="btn btn-danger bg-danger-600 btn-labeled">Send Email<span class="btn-label btn-label-right"><i class="fa fa-send-o"></i></span></button>

            </div>
            <!-- /.col-md-2 -->

            <div class="col-md-2">
                <button type="button" class="btn btn-danger bg-danger-700 btn-labeled">Send Email<span class="btn-label btn-label-right"><i class="fa fa-send-o"></i></span></button>

            </div>
            <!-- /.col-md-2 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="section">
    <div class="container">
        <div class="row mt-40">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Alerts</h4>
                    <p class="sub-title">You can use above color palette to style your alerts. Just use classes as mentioned above and change alert background colors. Click 'Toggle Code' button at top right corner of this page to see code for below alerts.</p>
                </div>
            </div>
            <!-- /.col-md-12 -->

            <div class="col-md-6 mb-20">
                <div class="alert alert-default bg-danger-100" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6 mb-20">
                <div class="alert alert-default bg-danger-300" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6 mb-20">
                <div class="alert alert-default bg-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6 mb-20">
                <div class="alert alert-default bg-danger-500" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6 mb-20">
                <div class="alert alert-default bg-danger-600" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6 mb-20">
                <div class="alert alert-default bg-danger-700" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                </div>
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
