<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Bootstrap - Grid</h2>
            <p class="sub-title">We have styled all Bootstrap elements just as you want!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a href="#" class="btn bg-black open-right-sidebar">Click me!</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#">Bootstrap</a></li>
				<li class="active">Grid</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <p>Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts. We have used Sass version so that it becomes more easy for you to customize anything. </p>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

<section class="section pt-n">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Grid Options</h4>
                    <p class="sub-title">See how aspects of the Bootstrap grid system work across multiple devices with a handy table.</p>
                </div>
                <!-- /.section-title -->

                <div class="table-responsive">
                	<table class="table table-bordered table-striped">
                		<thead>
                			<tr>
                				<th></th>
                				<th> Extra small devices <small>Phones (&lt;768px)</small> </th>
                				<th> Small devices <small>Tablets (≥768px)</small> </th>
                				<th> Medium devices <small>Desktops (≥992px)</small> </th>
                				<th> Large devices <small>Desktops (≥1200px)</small> </th>
                			</tr>
                		</thead>
                		<tbody>
                			<tr>
                				<th class="text-nowrap" scope="row">Grid behavior</th>
                				<td>Horizontal at all times</td>
                				<td colspan="3">Collapsed to start, horizontal above breakpoints</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Container width</th>
                				<td>None (auto)</td>
                				<td>750px</td>
                				<td>970px</td>
                				<td>1170px</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Class prefix</th>
                				<td><code>.col-xs-</code></td>
                				<td><code>.col-sm-</code></td>
                				<td><code>.col-md-</code></td>
                				<td><code>.col-lg-</code></td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row"># of columns</th>
                				<td colspan="4">12</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Column width</th>
                				<td class="text-muted">Auto</td>
                				<td>~62px</td>
                				<td>~81px</td>
                				<td>~97px</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Gutter width</th>
                				<td colspan="4">30px (15px on each side of a column)</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Nestable</th>
                				<td colspan="4">Yes</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Offsets</th>
                				<td colspan="4">Yes</td>
                			</tr>
                			<tr>
                				<th class="text-nowrap" scope="row">Column ordering</th>
                				<td colspan="4">Yes</td>
                			</tr>
                		</tbody>
                	</table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

<section class="section pt-n">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Example: Stacked-to-horizontal</h4>
                    <p class="sub-title">Using a single set of <code class="language-html">.col-md-*</code> grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any <code class="language-html">.row</code>.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 show-grid">
                <div class="row">
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                    <div class="col-md-1">.col-md-1</div>
                </div>
                <div class="row mt-15">
                	<div class="col-md-8">.col-md-8</div>
                	<div class="col-md-4">.col-md-4</div>
                </div>
                <div class="row mt-15">
                	<div class="col-md-4">.col-md-4</div>
                	<div class="col-md-4">.col-md-4</div>
                	<div class="col-md-4">.col-md-4</div>
                </div>
                <div class="row mt-15">
                	<div class="col-md-6">.col-md-6</div>
                	<div class="col-md-6">.col-md-6</div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->


<section class="section pt-n">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Example: Mobile & Desktop</h4>
                    <p class="sub-title">Don't want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding <code class="language-html">.col-xs-* .col-md-*</code> to your columns. See the example below for a better idea of how it all works.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 show-grid">
                <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                <div class="row">
                	<div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>

                <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                <div class="row mt-15">
                	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>

                <!-- Columns are always 50% wide, on mobile and desktop -->
                <div class="row mt-15">
                	<div class="col-xs-6">.col-xs-6</div>
                	<div class="col-xs-6">.col-xs-6</div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

<section class="section pt-n">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Example: Mobile, Tablet, Desktop</h4>
                    <p class="sub-title">Build on the previous example by creating even more dynamic and powerful layouts with tablet <code class="language-html">.col-sm-*</code> classes.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 show-grid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>
                <div class="row mt-15">
                	<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                	<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                	<!-- Optional: clear the XS cols if their content doesn't match in height -->
                	<div class="clearfix visible-xs-block"></div>
                	<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->

<section class="section pt-n">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4 class="title underline">Offsetting columns</h4>
                    <p class="sub-title">Move columns to the right using <code class="language-html">.col-md-offset-*</code> classes. These classes increase the left margin of a column by <code class="language-html">*</code> columns. For example, <code class="language-html">.col-md-offset-4</code> moves <code class="language-html">.col-md-4</code> over four columns.</p>
                </div>
                <!-- /.section-title -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 show-grid">
                <div class="row">
                	<div class="col-md-4">.col-md-4</div>
                	<div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
                </div>
                <div class="row mt-15">
                	<div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                	<div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                </div>
                <div class="row mt-15">
                	<div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
