<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h4 class="title">Pricing</h4>
            <p class="sub-title">One stop solution for perfect admin dashboard!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <div class="dropdown pull-right" dropdown>
            	<button dropdownToggle class="btn btn-default dropdown-toggle" type="button" id="menu14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            		<i class="fa fa-bars"></i> Dropdown
            		<span class="caret"></span>
            	</button>
            	<ul *dropdownMenu class="dropdown-menu bg-gray" aria-labelledby="menu14">
                    <li><a href="#">Action  <span class="label label-danger icon-right">Hot</span></a></li>
            		<li><a href="#">Some Link</a></li>
            		<li><a href="#">More here  <span class="label label-primary icon-right">New</span></a></li>
                    <li><a href="#">Something more here </a></li>
            	</ul>
            </div>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Pricing</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container">
        <div class="row">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
        </div>
        <!-- /.row -->
        <div class="row mt-30">
            <div class="col-sm-4">
				<div class="pricing-box">
					<div class="pricing-head">
						<span class="striked">$ 10.0</span>
						<h2>Free</h2>
						<h6>Get the feel</h6>
						<i class="bg-icon fa fa-user"></i>
					</div>
					<!-- /.pricing-head -->
					<div class="pricing-body">
						<ul>
							<li tooltip="Something more about this" placement="bottom">Basic Features <i class="icon fa fa-question-circle"></i></li>
							<li tooltip="Something more about this" placement="bottom">One User <i class="icon fa fa-question-circle"></i></li>
							<li tooltip="Something more about this" placement="bottom">10 Records <i class="icon fa fa-question-circle"></i></li>
							<li>Basic Feature</li>
							<li>Only One User</li>
							<li>Only 10 Records</li>
						</ul>
					</div>
					<!-- /.pricing-body -->
					<div class="pricing-foot">
						<a href="#">Start Now</a>
					</div>
					<!-- /.pricing-foot -->
				</div>
				<!-- /.pricing-box -->
			</div>
            <!-- /.col-sm-4 -->

            <div class="col-sm-4">
				<div class="pricing-box popular">
					<div class="pricing-head">
						<span class="striked">$ 100.0</span>
						<h2>$ 50.0</h2>
						<h6>Try &amp; buy</h6>
						<i class="bg-icon fa fa-ticket"></i>
					</div>
					<!-- /.pricing-head -->
					<div class="pricing-body">
						<ul>
							<li tooltip="Something more about this" placement="bottom">Basic Features <i class="icon fa fa-question-circle"></i></li>
							<li tooltip="Something more about this" placement="bottom">Five Users <i class="icon fa fa-question-circle"></i></li>
							<li tooltip="Something more about this" placement="bottom">100 Records <i class="icon fa fa-question-circle"></i></li>
							<li>Some Advanced Features</li>
							<li>Only Five Users</li>
							<li>Up-to 100 Records</li>
						</ul>
					</div>
					<!-- /.pricing-body -->
					<div class="pricing-foot">
						<a href="#">Upgrade Now</a>
					</div>
					<!-- /.pricing-foot -->
				</div>
				<!-- /.pricing-box -->
			</div>
            <!-- /.col-sm-4 -->

            <div class="col-sm-4">
				<div class="pricing-box">
					<div class="pricing-head">
						<span class="striked">$ 1000.0</span>
						<h2>$ 500.0</h2>
						<h6>More &amp; Cheap</h6>
						<i class="bg-icon fa fa-bank"></i>
					</div>
					<!-- /.pricing-head -->
					<div class="pricing-body">
						<ul>
							<li tooltip="Something more about this" placement="bottom">Basic Features <i class="icon fa fa-question-circle"></i></li>
							<li tooltip="Something more about this" placement="bottom">Unlimited Users <i class="icon fa fa-question-circle"></i></li>
							<li tooltip="Something more about this" placement="bottom">Unlimited Records <i class="icon fa fa-question-circle"></i></li>
							<li>All Features</li>
							<li>Create Unlimited Users</li>
							<li>Create Unlimited Records</li>
						</ul>
					</div>
					<!-- /.pricing-body -->
					<div class="pricing-foot">
						<a href="#">Upgrade Now</a>
					</div>
					<!-- /.pricing-foot -->
				</div>
				<!-- /.pricing-box -->
			</div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
