<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-md-6">
            <h2 class="title">Tables - Basic</h2>
            <p class="sub-title">One stop solution for perfect admin dashboard!</p>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 right-side">
            <a class="btn bg-black toggle-code-handle" role="button">Toggle Code!</a>
        </div>
        <!-- /.col-md-6 text-right -->
    </div>
    <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-md-6">
            <ul class="breadcrumb">
				<li><a [routerLink]="'dashboard'"><i class="fa fa-home"></i> Home</a></li>
				<li class="active">Tables - Basic</li>
			</ul>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 text-right">
            <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
            <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<section class="section">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <p></p>

                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Basic Example</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <table class="table">
                        	<caption>Optional table caption.</caption>
                        	<thead>
                        		<tr>
                        			<th>#</th>
                        			<th>First Name</th>
                        			<th>Last Name</th>
                        			<th>Username</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<th scope="row">1</th>
                        			<td>Mark</td>
                        			<td>Otto</td>
                        			<td>@mdo</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">2</th>
                        			<td>Jacob</td>
                        			<td>Thornton</td>
                        			<td>@fat</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">3</th>
                        			<td>Larry</td>
                        			<td>the Bird</td>
                        			<td>@twitter</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Striped Rows</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <table class="table table-striped">
                        	<caption>Optional table caption.</caption>
                        	<thead>
                        		<tr>
                        			<th>#</th>
                        			<th>First Name</th>
                        			<th>Last Name</th>
                        			<th>Username</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<th scope="row">1</th>
                        			<td>Mark</td>
                        			<td>Otto</td>
                        			<td>@mdo</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">2</th>
                        			<td>Jacob</td>
                        			<td>Thornton</td>
                        			<td>@fat</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">3</th>
                        			<td>Larry</td>
                        			<td>the Bird</td>
                        			<td>@twitter</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Bordered Table</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <table class="table table-bordered">
                        	<caption>Optional table caption.</caption>
                        	<thead>
                        		<tr>
                        			<th>#</th>
                        			<th>First Name</th>
                        			<th>Last Name</th>
                        			<th>Username</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<th scope="row">1</th>
                        			<td>Mark</td>
                        			<td>Otto</td>
                        			<td>@mdo</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">2</th>
                        			<td>Jacob</td>
                        			<td>Thornton</td>
                        			<td>@fat</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">3</th>
                        			<td>Larry</td>
                        			<td>the Bird</td>
                        			<td>@twitter</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Striped + Bordered Table</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <table class="table table-striped table-bordered">
                        	<caption>Optional table caption.</caption>
                        	<thead>
                        		<tr>
                        			<th>#</th>
                        			<th>First Name</th>
                        			<th>Last Name</th>
                        			<th>Username</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<th scope="row">1</th>
                        			<td>Mark</td>
                        			<td>Otto</td>
                        			<td>@mdo</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">2</th>
                        			<td>Jacob</td>
                        			<td>Thornton</td>
                        			<td>@fat</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">3</th>
                        			<td>Larry</td>
                        			<td>the Bird</td>
                        			<td>@twitter</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Hover Rows</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <table class="table table-hover table-bordered">
                        	<caption>Optional table caption.</caption>
                        	<thead>
                        		<tr>
                        			<th>#</th>
                        			<th>First Name</th>
                        			<th>Last Name</th>
                        			<th>Username</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<th scope="row">1</th>
                        			<td>Mark</td>
                        			<td>Otto</td>
                        			<td>@mdo</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">2</th>
                        			<td>Jacob</td>
                        			<td>Thornton</td>
                        			<td>@fat</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">3</th>
                        			<td>Larry</td>
                        			<td>the Bird</td>
                        			<td>@twitter</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h5>Contextual Classes</h5>
                        </div>
                    </div>
                    <div class="panel-body p-20">

                        <p>Use contextual classes to color table rows or individual cells.</p>

                        <table class="table table-bordered table-striped">
                        	<colgroup>
                        		<col class="col-xs-1">
                        		<col class="col-xs-7"> </colgroup>
                        	<thead>
                        		<tr>
                        			<th>Class</th>
                        			<th>Description</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<th scope="row"> <code>.active</code> </th>
                        			<td>Applies the hover color to a particular row or cell</td>
                        		</tr>
                        		<tr>
                        			<th scope="row"> <code>.success</code> </th>
                        			<td>Indicates a successful or positive action</td>
                        		</tr>
                        		<tr>
                        			<th scope="row"> <code>.info</code> </th>
                        			<td>Indicates a neutral informative change or action</td>
                        		</tr>
                        		<tr>
                        			<th scope="row"> <code>.warning</code> </th>
                        			<td>Indicates a warning that might need attention</td>
                        		</tr>
                        		<tr>
                        			<th scope="row"> <code>.danger</code> </th>
                        			<td>Indicates a dangerous or potentially negative action</td>
                        		</tr>
                        	</tbody>
                        </table>

                        <table class="table table-bordered">
                        	<thead>
                        		<tr>
                        			<th>#</th>
                        			<th>Column heading</th>
                        			<th>Column heading</th>
                        			<th>Column heading</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr class="active">
                        			<th scope="row">1</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">2</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr class="success">
                        			<th scope="row">3</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">4</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr class="info">
                        			<th scope="row">5</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">6</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr class="warning">
                        			<th scope="row">7</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr>
                        			<th scope="row">8</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        		<tr class="danger">
                        			<th scope="row">9</th>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        			<td>Column content</td>
                        		</tr>
                        	</tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.section -->
